body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    line-height: 1.5em;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #7C7C7C
}

#nav {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 230px;
    overflow: auto;
    /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #BABABA;
}

#logo {
    padding: 10px;
}

main {
    position: fixed;
    top: 100px;
    /* Set this to the height of the header */
    left: 230px;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: url ("top.gif")
}

.innertube {
    margin: 15px;
    /* Provides padding for the content */
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: #055555;
    text-decoration: none;
}

/*IE6 fix*/
* html body {
    padding: 100px 0 0 230px;
    /* Set the first value to the height of the header and last value to the width of the nav */
}

* html main {
    height: 100%;
    width: 100%;
}

button {
    background-color: white
}
